
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"><%= user.name %></h1>
        <p class="lead">
            <%= user.email %> | <%= user._id %> 
            <a href="/users/logout" class="btn btn-warning btn-sm">Logout</a>
            <!-- Delete Button -->
            <form method="post" action="/users/profile?_method=DELETE">
                <button type="submit" class="btn btn-info">Delete My Account!</button>
            </form>
            <!-- Edit Profile button -->
            <form method="post" action="/users/profile/edit?_method=GET">
                <button type="submit" class="btn btn-info">Edit My Profile!</button>
            </form>            
            <!-- New Entry Button -->
            <a href="/entries/new">Make a new Entry</a>
        </p>
        <p>
            <!-- <%= user.entries %> -->
            <% user.entries.forEach(entry => { %>
                <div class="jumbotron">
                    <div class="text-right">
                        <a class="btn btn-primary btn-lg pull-right" href="#" role="button">Edit this Entry</a>
                    </div>
                    <h1 class="display-4"><%= entry.title %></h1>
                    <p class="lead"><%= moment(entry.date).format('MM-DD-YY') %></p>
                    <hr class="my-4">
                    <p><%= entry.body %></p>
                    
                </div>
                <!-- Date
                <%= moment(entry.date).format('MM-DD-YY') %>
                <br>
                Title
                <%= entry.title %>
                <br>
                Body
                <%= entry.body %>
                <br> -->
                <!-- <form method="post" action="/entries/<%= entry.id %>/edit?_method=GET">
                    <button type="submit" class="btn btn-info">Edit This Entry!</button>
                </form> -->
            <% }) %>
        </p>
    </div>
</div>