<!-- NAV BAR -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #353d43;">
    <div class="d-flex justify-content-between collapse navbar-collapse" id="navbarSupportedContent">
        <div class="user-info">
            <%= user.email %> | <%= user.name %>
        </div>

        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Options
            </a>
            <div style="background-color: #353d43" class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <form method="post" action="/users/profile/edit?_method=GET">
                    <button style="display:inline-block" type="submit" class="btn btn-primary">Edit My Profile!</button>
                </form>   
                <a style="margin:5px 0px" class="nav-link btn btn-primary" href="/users/logout">Log Out</a>
                <div class="dropdown-divider"></div>
                <form method="post" action="/users/profile?_method=DELETE">
                    <button type="submit" class="btn btn-danger">Delete My Account!</button>
                </form>
            </div>
        </div>
    </div>
</nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 style="text-align:center"><a style="padding:10px; background-color: rgba(255,255,255, 0.8); border-radius: 10px" href="/entries/new"><i class="fas fa-plus"></i> Make a new Entry</a></h1>
        
        <p>
        <% user.entries.forEach(entry => { %>
            <div class="jumbotron">
                <div class="text-right">
                    <form method="post" action="/entries/<%= entry.id %>/edit?_method=GET">
                        <button type="submit" class="btn btn-primary">Edit This Entry!</button>
                    </form>
                </div>
                <div style="color: black" class="row">
                    <div class="col-4">
                        <label for="Date">Date</label>
                        <p class="lead"><%= moment(entry.date).format('MM-DD-YY') %></p>
                    </div>
                    <div class="col-8">
                        <label for="title">Title</label>
                        <h1 class="display-4"><%= entry.title %></h1>
                    </div>
                </div>
                <hr class="my-4">
                <div style="color: black" class="col-12">
                    <label style="display:block" for="Body">Body</label>
                    <textarea disabled id="" cols="130" rows="14">
                        <%= entry.body %>    
                    </textarea>
                    <!-- <p class="d-flex flex-wrap"><%= entry.body %></p> -->
                    <!-- <%= entry.body %> -->
                </div>
            </div>
        <% }) %>
        </p>
    </div>
</div>

